<!-- 
  <div *ngIf="!line; else monthTable" class="alert alert-info">
    Please Wait...</div>
  <ng-template #monthTable>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="line-day">
        <tr>
          <td *ngFor="let day of line.days">
            <p>Report: {{ day.reporttimeutc }}</p>
            <app-line-pairing [pairings]="day.pairings"></app-line-pairing>
            <p>Release: {{ day.releasetimeutc }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>  

<div class="error" *ngIf="error">{{ error }}</div> -->