<h2>Available Lines</h2>

<div class="container">
  <div class="row">
    <form method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="pairings">Upload pairing csv file:</label>
        <input id="pairings" class="form-control" type="file" (change)="csvSelected($event)" />
      </div>
      <div class="form-group">
        <label for="lines">Upload "routes only" txt file:</label>
        <input id="lines" class="form-control" type="file" (change)="txtSelected($event)" />
      </div>
      <div class="form-group">
        <button type="button" (click)="saveBidPack()">Submit</button> 
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-8">
        <div [class.hidden]="lines" class="alert alert-info">
            <p>please wait...</p> 
        </div>
        <table class="table">
            <tbody class="lines">
              <tr *ngFor="let line of lines">
                <td>
                  <div>
                    <span><p>{{ line.position }} {{ line.lineid }}</p></span>
                    <span><p>Block: {{ line.blockminutes }}</p></span>
                    <span><p>Credit: {{ line.creditminutes }}</p></span>
                  </div>
                </td>
                <td *ngFor="let day of line.day">
                  <div>
                    <span><p>{{ day.month }} {{ day.day }}</p></span>
                    <span><p>{{ day.pairingid }}</p></span>
                  </div>  
                </td>
              </tr> 
            </tbody>
        </table>
    </div>
  </div> 
</div>
<div class="error" *ngIf="error">{{ error }}</div>
