<h2>Available Lines</h2>

<div class="container">
  <div class="row">
    <form method="post" enctype="multipart/form-data">
      <div class="form-group">
        <div class="col-md-10">
          <p>Upload pairing csv file:</p>
          <input type="file" (change)="csvSelected($event)" />
        </div>
      </div>
      <div class="form-group">
          <div class="col-md-10">
            <p>Upload "routes only" txt file:</p>
            <input type="file" (change)="txtSelected($event)" />
          </div>
        </div>
      <div class="form-group">
        <div class="col-md-10">
          <button type="button">Submit</button> 
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="row">
      <div class="col-sm-8">
          <div [class.hidden]="lines" class="alert alert-info">
              <p>Please Wait...</p> 
          </div>
          <table class="table">
              <thead>
              </thead>
              <tbody class="lines">
                <tr *ngFor="let line of lines">
                  <td>
                    <div>
                      <div><p>Line ID: {{ line.lineid }}</p></div>
                      <div><p>Days Off: {{ line.numdaysoff }}</p></div>
                      <div><p>TAFB: {{ line.tafb }}</p></div>
                    </div> 
                    <div>
                      <div><p>Block: {{ line.blockminutes }}</p></div>
                      <div><p>Credit: {{ line.creditminutes }}</p></div>
                    </div>
                  </td>
                  <td *ngFor="let day of line.days">
                    <div *ngIf="!day.isoff; else showPairing">
                      <div><p>Report: {{ day.reporttimeutc }}</p></div>
                      <div *ngFor="let pairing of day.pairings">
                        <span><p>Flight: {{ pairing.flight }}</p></span>
                        <span><p>{{ pairing.departure }} {{ pairing.destination }}</p></span>
                        <span *ngIf="pairing.isdeadhead">*</span>
                      </div>
                      <div><p>Release: {{ day.releasetimeutc }}</p></div>
                    </div>
                    <ng-template #showPairing>
                      <span><p>OFF</p></span>
                    </ng-template>
                  </td>
                </tr> 
              </tbody>
          </table>
      </div>
  </div> -->
</div>
<div class="error" *ngIf="error">{{ error }}</div>
